@model Contact

<h1>Details</h1>

<table class="table table-bordered table-info">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Imię</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Priorytet</th>
        <td>@Model.Priority.GetDisplayName()</td>
    </tr>
    <tr>
        <th>Data utworzenia</th>
        <td>@Model.Created</td>
    </tr>
</table>
<span>
    <a asp-controller="Contact" asp-action="Index"><button type="submit" class="btn btn-primary">Powrót</button></a>
</span>
